

<% if @name && !@name.empty? %>
  <h1>My first name is <%= @name %></h1>
<% else %>
  <form action="/named-cat" method="GET">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
<% end %>

<div >
<img  style='border: 3px dotted green' src='http://bit.ly/1eze8aE'>
</div>
